.block {
    $root: &;

    position: relative;

	&__title {

		&:not(:last-child) {
			margin-bottom: 25px;
		}

	}

	&__subtitle {
		display: inline-block;
	}

	&__padding {
        padding: 35px 0;
    }

    &__wrap {
        @extend .wrap;

        &--small {
            max-width: 750px;
        }

	}

    &__header,
    &__main {

        &:not(:last-child) {
            margin-bottom: 35px;
        }

    }

	&__header {

        &--center {
            text-align: center;
        }

    }

	&__main {
        position: relative;

		&--center {
			text-align: center;
		}

	}

    &__footer {
        text-align: center;
    }

	&--grey {
		background: color(grey, lighter);
	}
	
	&--red {
		background: color(red);
	}
	
	&--orange {
		background: orange;
	}

    @include desktop {

		&__title {

			&:not(:last-child) {
				margin-bottom: 20px;
			}

		}

        &__padding {
			padding: 70px 0;
		}

	}

}
