.button {
    padding: 8px;
    background: color(orange);
    color: white;
    border-radius: 5px;
    transition: background .3s ease;
    display: inline-block;

    &:hover,
    &:focus {
        background: color(orange, darker);
    }
}