.footer {
	background: color(grey, darker);
	padding: 70px 0;
	color: white;

	&__wrap {
		@extend .wrap;
	}
	
	&__items {
		list-style: none;
	}

	@include tablet {

		&__items {
			display: flex;
		}

		&__item {
			width: p(1, 4);

			&--contact {
				width: p(1, 2);
			}
		}
	}
}

.footer-list {

	&__list {
		list-style: none;
	}

	&__item {
		
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__header {
		position: relative;

		&::after {
			content: "";
			position: absolute;
			height: 2px;
			width: 65px;
			top: 32px;
			left: 5px;
			background: white;
		}
		
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}

.list-item {
	color: white;

	&:hover,
	&:focus {
		color: color(orange);
	}
}