.footer {
	background: color(grey, darker);
	padding: 70px 0;
	color: white;

	&__wrap {
		@extend .wrap;
	}

	@include tablet {}

    @include desktop {}

}

.footer {
	
	&__items {
		display: flex;
		list-style: none;
	}

	&__item {
		
	}

	@include tablet {

		&__items {
			display: flex;
		}

		&__item {
			width: p(1, 4);

			&--contact {
				width: p(1, 2);
			}
		}
	}
}

.footer-list {

	&__list {
		list-style: none;
	}

	&__item {
		
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__header {
		
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
}

.list-item {
	color: white;
}