.navigation {
    $root: &;

    display: none;
    margin-left: auto;

    &__items {
        list-style-type: none;
        margin-left: auto;
        display: flex;
    }

    &__item {
        display: inline-block;

        &--current {

            #{$root}__link {}

        }

    }

    &__link {
        position: relative;
        text-decoration: none;
        color: color(gray, dark);
		font-size: rem(14px);
        padding: 30px 15px;
        display: inline-block;

        &:hover,
        &:focus {
            background: orange;
        }
    }

    @include tablet {
        display: block;
    }

}

