.panorama {
    
    &__inner {
        position: relative;
        @extend .wrap;
    }

    &__image {
        height: 250px;

        img {
            object-fit: cover;;
        }
    }

    &__label {
        position: absolute;
        right: 0;
        bottom: -39px;
        padding: 30px 15px;
        background: orange;
        z-index: 1;
        color: white;

        &::after {
            content: '';
            background: orange;
            width: 1000px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__contact {
        z-index: 1;
        position: relative;
    }

    @include tablet {

        &__image {
            height: 500px;
    
            img {
                object-fit: cover;;
            }
        }
    }
}