.services {
    list-style: none;
    margin: -20px;
    
    &__item {
        padding: 20px;
    }

    @include tablet {
        display: flex;
        flex-wrap: wrap;

        &__item {
            width: p(1, 3);
        }

    }
    
}

.service {

    &__icon {
        width: 45px;
        height: 45px;
        color: color(orange);

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}